@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@300&display=swap');


* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  overflow-x: hidden;
}

a:link,
a:visited,
a:active {
  text-decoration: none;
}

.contenedor {
  background-color: #ffffff;
  opacity: 100%;
  max-width: 1200px;
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 2%;
}

.logo {
  height: 100%;
}

.principal-title,
.secundary-title {
  font-size: 36px;
  letter-spacing: 0;
  line-height: 42px;
}

.principal-title,
.secundary-title,
.title-icono {
  font-family: "IBM Plex Sans", sans-serif;
}

.title-icono {
  font-weight: bold;
}

li,
.parrafo,
.texto-footer,
.button,
.menu-container {
  font-family: "IBM Plex Mono", monospace;
}

.letra-azul-oscuro,
.button .link {
  color: #060a24;
}

.link {
  color: #FFFFFF;
}

.principal-title,
.title-invitados {
  margin-bottom: 3%;
}

.title-icono {
  font-size: 24px;
  letter-spacing: 0;
  text-align: center;
  padding-top: 7%;
}

.parrafo,
.texto-footer {
  letter-spacing: 0;
  line-height: 22px;
}

.button {
  background: #00f3bb;
  border: none;
  height: 48px;
  width: 100%;
  letter-spacing: 0;
  text-align: center;
  line-height: 22px;
  margin-top: 8%;
  font-weight: bold;
}

.button,
.li,
.menu-container {
  font-size: 16px;
}

.button:hover {
  background-image: linear-gradient(225deg, #0000fe 0%, #00f0b8 100%);
}

.button a:hover {
  color: #FFFFFF;
}

.flex-row-mobile {
  display: flex;
  flex-direction: row;
}

.flex-column-mobile {
  display: flex;
  flex-direction: column;
}

.nav {
  justify-content: space-between;
  align-items: center;
}

.div-logo {
  align-items: center;
  display: flex;
}

li {
  list-style: none;
  line-height: 28px;
}

.desktop-menu,
.checkbox,
.menu-container,
.detail-desktop {
  display: none;
}

.mobile-menu {
  align-items: flex-end;
}

.navigation-button {
  display: flex;
  justify-content: flex-end;
}

.button {
  outline: none;
}

/* Inicio estilos menu hamburguesa */

.linea {
  width: 18px;
  height: 2px;
  transition: all 0.5s;
  border-radius: 8px;
  background: #060a24;
}

.container-burger {
  display: flex;
  height: 22px;
  flex-direction: column;
  justify-content: space-evenly;
}

.checkbox:checked~.menu-burguer .navigation-button .linea-med {
  opacity: 0;
}

.checkbox:checked~.menu-burguer .navigation-button .linea-top {
  transform: translate(0, 7px) rotate(45deg);
}

.checkbox:checked~.menu-burguer .navigation-button .linea-low {
  transform: translate(0px, -6px) rotate(-45deg);
}

.checkbox:checked~.menu .menu-container {
  background: #0000ec;
  letter-spacing: 0;
  line-height: 28px;
  height: 224px;
  display: flex;
  padding-left: 5%;
}

.menu {
  width: 100%;
  position: absolute;
  left: 0;
  top: 40px;
}

.checkbox:checked~.menu-container ul li {
  color: #FFFFFF;
}

li {
  display: flex;
  list-style: none;
  transition: all 0.5s;
  align-items: center;
}

ul {
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100%;
  width: 100%;
}

/* Fin estilos menu hamburguesa */

.span-world {
  text-decoration: line-through;
}

.button-conoce {
  width: 100%;
}

.button-conoce,
.button-escucha-episodios {
  margin-bottom: 24px;
}

.article {
  margin-top: 10%;
}

.episodios {
  background-image: linear-gradient(225deg, #0000ff 0%, #0000a3 100%);
  clip-path: polygon(0 4%, 100% 0, 100% 96%, 0 100%);
  margin-top: 24px;
}

.title-episodios {
  padding-top: 64px;
  color: #ffffff;
  margin-left: 5%;
}

.iframe {
  padding-right: 2%;
  padding-left: 2%;
  margin-top: 2%;
}

.contenedor-iframe {
  align-items: center;
}

.iframe-superior {
  margin-top: 3%;
}

.iframe-inferior {
  padding-bottom: 25%;
}

.section-donde-venimos {
  transform: translateY(-7%);
}

.div-phone {
  max-height: 660px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image-phone {
  max-width: 360px;
  z-index: 1;
}

.title-donde-venimos {
  margin-bottom: 3%;
}

.margin-al-limite {
  margin-left: -6%;
  margin-right: -6%;
}

.div-image-invitados {
  margin-top: -1px;
  justify-content: center;
  display: flex;
}

.image-invitados {
  width: 100%;
}

.title-algunos-temas {
  margin-top: 7%;
}

.icono {
  justify-content: start;
  align-items: center;
  margin-top: 8%;
  flex: 1;
}

.novedades {
  justify-content: center;
  background-image: linear-gradient(225deg, #0000ff 0%, #0000a3 100%);
  clip-path: polygon(0 20%, 100% 0, 100% 100%, 0% 100%);
  margin-top: 10%;
  padding-left: 5%;
  padding-right: 5%;
  height: 341px;
}

.title-novedades {
  margin-top: 6%;
  text-align: center;
  color: #ffffff;
}

.texto-footer {
  margin-top: 24px;
  display: flex;
  justify-content: center;
}

.contenedor-imagenes-footer {
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 31px;
  margin-top: 16px;
}

.icono-footer {
  align-items: center;
  display: flex;
  transition: all 1s ease;
}

.icono-footer:hover {
  transform: scale(2, 2);
}

.button a {
  justify-content: center;
  align-items: center;
  display: flex;
  height: 100%;
}

@media only screen and (min-width: 768px) {
  .div-logo {
    height: 36px;
    display: flex;
  }

  .principal-title {
    font-size: 64px;
    margin-top: 12%;
  }

  .secundary-title {
    font-size: 48px;
  }

  .parrafo,
  .link,
  .texto-footer {
    font-size: 16px;
  }

  .button {
    font-size: 18px;
    height: 56px;
  }

  .button-conoce {
    width: 226px;
  }

  .button-escucha-episodios {
    width: 345px;
  }

  .article {
    margin-top: 4%;
  }

  .span-dot {
    color: #0000ec;
  }

  .container-burger,
  .detail-mobile {
    display: none;
  }

  /* Dede aquí:
  En caso de dejar chequeado el menu en version mobile y pasar a versión desktop corrije los errores que podrían darse si el menu no se cierra*/

  .menu-container {
    display: flex;
    justify-content: flex-end;
  }

  .checkbox:checked~.menu .menu-container {
    background: white;
    height: 100%;
    flex: 0;
    display: flex;
  }

  .menu {
    display: flex;
    justify-content: flex-end;
    position: relative;
    top: 0
  }

  /* Hasta aquí:
  En caso de dejar chequeado el menu en version mobile y pasar a versión desktop corrije los errores que podrían darse si el menu no se cierra*/


  .link,
  .menu-item .link {
    color: #060a24;
  }

  ul .menu-item:not(:first-child) {
    padding-left: 48px;
  }

  .menu-item .link {
    transition: all 0.3s ease;
  }

  .menu-item .link:hover {
    color: #00f3bb;
    text-decoration: line-through;
  }

  .menu-item .link:active {
    color: rgba(6, 10, 36, 0.56);
    text-decoration: line-through;
  }

  .section-donde-venimos {
    margin-left: 7%;
    margin-right: 7%;
    transform: translateY(-20%);
  }

  .div-donde-venimos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: 1;
  }

  .p-dedonde-venimos {
    margin-top: 5%;
    display: flex;
    align-items: center;
  }

  .contenedor-image-algunos-temas {
    margin-right: 5%;
  }

  .contenedor-footer,
  .contenedor-image-algunos-temas {
    justify-content: space-between;
  }

  .margin-desktop {
    margin-left: 5%;
  }

  .detail-desktop {
    display: inline-block;
    max-width: 628px;
  }

  .title {
    margin-top: 129px;
  }

  .novedades {
    align-items: center;
    height: 518px;
  }

  .contenedor-imagenes-footer {
    width: 320px;
    justify-content: inherit;
  }

  .margin-footer {
    margin-top: 3%;
    margin-bottom: 3%;
  }

  .title-episodios {
    margin-left: 10%;
  }

  .contenedor-episodios {
    margin-left: 3%;
    margin-right: 3%;
  }

  .iframe {
    flex: 2;
  }

  .iframe-inferior {
    padding-bottom: 17%;
  }

  .flex-row-desktop {
    display: flex;
    flex-direction: row;
  }
}

@media only screen and (min-width: 1201px) {
  body {
    display: flex;
    justify-content: center;
  }
}